<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Users</title>
    <style>
        table, td, th{
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <table>

        <tr>
        <th>User Id</th>
        <th>Username</th>
        <th>email</th>
        </tr>
        
        <% for (user of result){  %>
            <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>

            <td>
                <form method="GET" action = "/users/<%=user.id%>/edit">
                    <button>edit username</button>
                </form>
            </td>
            </tr>

        <% } %>

        <form method = "post" action = "/users">
            <button>add user</button>
        </form>

    </table>

</body>
</html>